
body{
  width: 1120px;
  height: 535px;
  box-sizing: border-box;
  background: #F8F8F8;
  margin:  0px 0px 0px 0px;
  font-family: "TTLakes-Medium";   
}
*{
  box-sizing: border-box;
}
.logo__img{
  padding-left: 0px;
  width: 25px;
  margin-left: 0px;
}
.div-header__menu-button{  
  display: flex;
  justify-content: center;
  align-content: space-between;
  box-sizing: border-box;
  padding-right: 15px;   
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 30px;
  background: #FFFFFF; 
  }
button {
  display: flex; 
  align-content: space-between;
  box-sizing: content-box;
  align-items: center;
  border:none;
  background-color:#F8F8F8;
  text-align: center;  
}
button[type="button"]:hover,
button[type="button"]:focus,
button[type="button"]:active,
button[type="button"]:visited{
  outline: 0;
  text-align: center;
  box-sizing: border-box;
  background: #f8f8f8;
}
li:hover,
li:focus,
li:active,
li:visited{
  outline: 0;
  border: 2px solid #B8FFEC;
  box-sizing: border-box;
  border-radius: 6px;
  background: #FFFFFF;
  box-sizing: border-box;
}
.main__nav_link-item:hover{
  background: #FFFFFF; 
}
.container,
.header__feedback-item, 
.header__feedback
{
  margin-left: auto;
  margin-right: auto;
}
/*.main__nav-list,*/
.header__feedback-list
{  
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "TTLakes-Medium";
  font-size: 16px;
  line-height: 24px;   
  padding-left: 0px;        
}
.main__nav-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  font-family: "TTLakes-Medium";
  font-size: 16px;
  line-height: 24px;   
  padding-left: 0px;
}
li
{
  list-style-type: none;
  border: none;
  outline: 0;
  border: 2px solid #F8F8F8;
  box-sizing: border-box;
  border-radius: 6px;
  background: #F8F8F8;
  box-sizing: border-box;    
}
.header__feedback-item,
.logo__link{
  padding-top: 5px;

}
.header__feedback-item--border{
  border-right: 3px solid #EAEAEA;  
  border-radius: 1px;
  box-sizing: border-box; 
  padding-right: 15px;
  }  
.header__feedback-item--padding :hover{
  padding-left: 0px;
}
a:hover{
  background: #F8F8F8;
}
a{
  box-sizing: border-box;    
  text-decoration: none;
  border:none;
  font-family: 'TTLakes-Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  padding-right: 22px;
  padding-left: 22px;
  color: #7E7E82;
  background-color: #F8F8F8;
  height: auto;
  width: auto;
}
.title{
  font-family:"TTLakes-Bold";
  font-size: 28px;
  line-height: 40px;
  list-style-type: none;
  color: #1B1C21;
  margin:  42px 0px 0px 0px;
  padding:  0px s0px 0px 0px;
  border-left: 3px solid aqua;  
  border-radius: 1px;
  margin-left: 0px;
  padding-left: 35px;
  text-align: center;
   display: flex;
}
.block-header-header__services{
  display: flex;
  
  justify-content: space-between; 
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
} 
.main__article{
  box-sizing: border-box;   
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 0;
  padding:  0px 34px 34px 34px;
  width: 100%;
}
.article__image{
  box-sizing: border-box;
  width:531px ; 
  height:384px ; 
  display: flex;
  align-items: center;
}
/*
.main__img{
  width:531px ; 
  height:307px ; 
  box-sizing: border-box;
}
*/
.article__btn-see-more {
  display: block;
  font-family: "TTLakes-Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}
.article__btn-see-more ::-webkit-details-marker {
  display: none;
}
.article__btn-see-more::before {
  content:url(../img/icon1.jpg) ;
  padding-right: 5px;  
}
.content_p{
  box-sizing: border-box;    
  
  font-family: "TTLakes-Regular";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper{
  height: 165px;
  width: 490px;
}
/*
.content__reviews{
  color:#7E7E82;
  font-family: "TTLakes-Medium";
  font-size: 16px;
  line-height: 24px;
  margin-top: 0px;
} */
.header__feedback-item--padding{
  padding-left: 0px;
}
.block-header__button-repair::after{
  content: url("../img/repair.png");
  background-repeat: no-repeats;     
  display: flex;
  justify-content: center;
  width: 70px;
  }  
.block-header__button-status::after{
  content:url("../img/checkstatus.png");
  background-repeat: no-repeat;     
  display: flex;
  justify-content: center;
  width: 70px;
  padding-top: 5px;
}
.main__nav_link-item--reviews{
  padding-top:15px;
}

@media (min-width: 1120px){
  .header__feedback-item--call,
  .header__feedback-item--chat,
  .header__feedback-item--border,
  .div-header__menu-button,
  .div-header__button,
  .logo{    
    display: flex; 
    box-sizing: border-box;
    margin:  0px 0px 0px 0px;
    display: none;  
  } 
  
  .header__feedback-item--padding{
    transform: translate(530px,85px);
  }
  .header__feedback-item--height{
    transform: translate(190px,85px);
  }
  .header__feedback-list{
    margin-top: -50px;
  }
  
}

@media (min-width: 768px) and (max-width: 1120px) {
  .block-header__button--call,
  .block-header__button--border,
  .block-header__button--chat,
  .div-header__button,
  .logo__link{
    background-color: #ffffff;
  }  
  .main__nav-list{
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    width: 100%;
    font-family: "TTLakes-Medium";
    font-size: 16px;
    line-height: 24px;   
    padding-left: 0px;        
  }
  .main__nav-item{
    background-color: #F8F8F8;
    padding-left: 0px;
    padding-right: 0px;
  }
  .main-order__span,
  .main-order__statusspan,
  .main__nav_link-item--reviews{
    display: none;
  }
  .header-burger,
  .div-header__button{
    border-right: 3px solid #EAEAEA; 
    padding-right:25px;;
    height: 40px;
  } 
  .main-order__span{    
    padding-right: 25px;        
  }
  .logo__link{
    padding-left: 25px;
  }
  .div-header{    
    display:flex;
    height: 16%;
    box-sizing: border-box; 
    justify-content:space-between;
    background-color:  #FFFFFF;
    border-bottom:1 px solid #D9FFF5;
  }
  .logo__img{        
    width: 70px;
    height: 40px;
  }
  .logo{
    background: #FFFFFF;
  }
  .header__feedback-list{
    padding-right: 15px; 
    padding-left: 450px;  
    background: #FFFFFF;  
  }
  div  li{
    background: #FFFFFF;
    border:#FFFFFF;  
    padding-right: 10px;
  }
  .block-header__button-repair, 
  .block-header__button-status{
    background: #FFFFFF;
    padding:0px;    
  }
  
}

@media  (max-width: 768px) {
  .main-order__span,
  .main-order__statusspan,
  .header__feedback-item--call,
  .header__feedback-item--chat,
  .header__feedback-item--border,
  .main__nav_link-item--prices, 
  .main__nav_link-item--address, 
  .main__nav_link-item--discounts,
  .main__nav_link-item--repairs,
  .main__nav_link-item--reviews{
    display: none;
  }
  .div-header__button,
  .logo__link{
    background-color: #FFFFFF; 
  } 
  .div-header{
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    height: 16%;
    width: 100%;
    margin-left: 0px;
    background-color: #FFFFFF; 
    border-bottom: 1px solid #D9FFF5;   
  }
  body, .article__image, main,
  .div-header, .wrapper,
  .article__content, .content_p{
    
    width: 100%;
  }      
  .article__image{
    height: 15%;
    width: 100vw;
    margin-left: -34px;
    }
    .article__image > img{
      width: 100vw; 
    }
  .content_p{
    overflow: auto;
  }
  .div-header__menu-button{
    width: 50%;
    display: flex;
    justify-content:space-evenly;         
  }
  .header__feedback-list{    
    display: flex;        
    justify-content: center; 
    width: 50%;
  }
  .header__feedback-item--padding, 
  .header__feedback-item--height{
    display: flex;
    background-color:#ffffff;
    border: 0px solid #ffffff;
  }
  .block-header__button,
  .block-header__button-status,
  .block-header__button-repair{
    background-color: #FFFFFF;   
  }
  .logo__img{
    width: 70px;
    height: 40px;
  }    
  .main{
    height: 55%; 
  }
  .main__article{  
    flex-direction: column;
    width: 100%;
  }
  .block-header-header__services{
    width: 90%;
  }
  .header__feedback-item--height
  {
    height: 40px;
    padding-right: 15px;
    margin-right: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
  }
  .block-header__pmg-status{
    padding-right: 0px;
    margin-top: 6px;
    background: #ffffff;
  }  
  .header__feedback-list{
    border-left: 3px solid #EAEAEA; 
    display: flex;
    justify-content:space-evenly;
  }
     
}

