
body{
    width: 1120px;
    height: 535px;
    box-sizing: border-box;
    background: #F8F8F8;
    margin:  0px 0px 0px 0px;
    font-family: "TTLakes-Black";
   
}

*{

  box-sizing: border-box;
}

.logo__img{
padding-left: 0px;
width: 25px;
margin-left: 0px

}


.header-ipad{
    
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin:  0px 0px 0px 0px;
  display: none;  
  
  
  
}         
.block-header__order{
  box-sizing: border-box;
  padding-bottom: 0px;
  padding-top: 38px;
  display: flex;
  justify-content: center;
  align-content: space-between;
}
.logo{
  
  display: flex;
  justify-content: center;
  align-content: space-between;
  box-sizing: border-box;

  }

  .logo__link{

    display:  ;
    
  }

button {
  display: flex; 
  align-content: space-between;
  box-sizing: content-box;
  align-items: center;
  border:none;
  background-color: #F8F8F8;
  text-align: center;
  
}
  

button[type="button"]:hover,
button[type="button"]:focus,
button[type="button"]:active,
button[type="button"]:visited
 {
  outline: 0;
  text-align: center;   

box-sizing: border-box;

/*transform: matrix(-1, 0, 0, 1);*/
background: #FFFFFF

}

li:hover,
li:focus,
li:active,
li:visited

 {
outline: 0;
border: 2px solid #B8FFEC;
box-sizing: border-box;
border-radius: 6px;
transform: matrix(-1, 0, 0, 1);
background: #FFFFFF;
box-sizing: border-box;
}



ul{
  
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "TTLakes-Black";
font-size: 16px;
line-height: 24px;   
padding-left: 0px;

        
}

li{
  list-style-type: none;
  border: none;
  outline: 0;
  border: 2px solid #F8F8F8;
  box-sizing: border-box;
  border-radius: 6px;
  transform: matrix(-1, 0, 0, 1);
  background: #F8F8F8;
  box-sizing: border-box;
    
}

a{
  box-sizing: border-box;    
  text-decoration: none;
  border:none;
  background-color: #F8F8F8;
  font-family: TT Lakes;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
color: #7E7E82;
padding-right: 22px;
padding-left: 22px;
color: #7E7E82;
background-color: #FFFFFF;
height: auto;
width: auto;
}
.block-header__element{
font-family: TT Lakes;
font-size: 28px;
line-height: 40px;
list-style-type: none;
color: #1B1C21;
margin:  0px 0px 0px 0px;
padding:  42px 0px 0px 0px;
border-left: 3px solid aqua;  
border-radius: 1px;
margin-left: 0px;
padding-left: 35px;
text-align: center;

}

.block-header-section-one{
    display: flex;
    justify-content: space-between;
     
    box-sizing: border-box;

}

.block-header-section-two{
    display: flex;
    justify-content: space-between; 
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}    

.main-content{
  box-sizing: border-box;
   
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 0;
    padding:  34px 34px 34px 34px;

}
.main-section{
  box-sizing: border-box;
width:531px ; 
height:384px ; 
display: flex;
        align-items: center;
}
.main__img{
  width:531px ; 
  height:307px ; 
  box-sizing: border-box;
}
.main_details {
    display: block;
  }
  
  .main_details {
display: block;

font-family: "TTLakes-Black";
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
color: #1B1C21;
  }

  .main_details ::-webkit-details-marker {
    display: none;
  }
  .main_details::before {
    content:url(jpg/icon1.jpg) ;
     padding-right: 5px;  
  }
  
  

  p{
box-sizing: border-box;    
height: 165px;
width: 490px;
font-family: "TTLakes-Black";
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #1B1C21;
margin-bottom: 0px;


  }
h5{
  color:#7E7E82;
  font-family: "TTLakes-Black";
font-size: 16px;
line-height: 24px;
margin-top: 0px;


} 


  



.block-header__liprofile{
  border-right: 3px solid #EAEAEA;  
  border-radius: 1px;
  box-sizing: border-box; 
  padding-right: 15px;
  }
  
  .block-header__lirepair{
    padding-left: 12px;
  }

  .block-header__button-repair::after{
    content: url("jpg/repair.png");
    background-repeat: no-repeat;
    
    
    display: flex;
    justify-content: center;
    width: 70px;


  }

  
  .block-header__button-checkstatus::after{
    content: url("jpg/checkstatus.png");
    background-repeat: no-repeat; 
    
    display: flex;
    justify-content: center;
    width: 70px;
    
 

  }

@media (min-width: 768px) and (max-width: 1120px) 
 {
  .block-header__lebel-order{
    border-right: 3px solid #EAEAEA; 
    padding-right: 25px;        
  }

  .logo__link{
padding-left: 25px;

  }
  .header-ipad{
    
    display:flex;
    height: 16%;
    box-sizing: border-box; 
    justify-content:space-between;
    background-color:  #FFFFFF;

  }
  .block-header__order{
  /*visibility: hidden;*/
  display: none;
  box-sizing: border-box; 
  
  }
  body{
    
    margin:  0px 0px 0px 0px;  
    box-sizing: border-box; 
  }
  .block-header-section-one{
    height: 34%; 
    box-sizing: border-box; 
   
      }
      .logo__img{
        
        width: 70px;
        height: 40px;
      }
      .logo{
        background: #FFFFFF;
      }
      .nuv-block{
       
        padding-right: 15px;   
        background: #FFFFFF;  

      }
      div  li{
        background: #FFFFFF;
        border:#FFFFFF;  
        padding-right: 10px;

      }

        
}

@media (min-width: 320px) and (max-width: 768px) {
  body{
    

   
    width: 100%;
  }
  .header{

  width: 100%;    
  }
  .header-ipad{
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    height: 16%;
    width: 100%;
    margin-left: 0px;
    background: #FFFFFF; 
   
      }

      div  li{
        background: #FFFFFF;
        border:#FFFFFF;  
        padding-right: 10px;

      }


      .logo{
        border-right: 0px solid #EAEAEA;        
        border-radius: 0px;
        padding-right: 0px ;
      }

      .block-header__lebel-status{
        border-right: 3px solid #EAEAEA;        
        border-radius: 1px;
        padding-right: 7px ;
        width: 40px;
        height: 40px;
        
      }

      main{
        width: 100%;
      }
      

      .nuv-block{
     
        display: flex;
        justify-content:space-evenly;
        padding-right: 25px;     

      }

  .block-header__licall,.block-header__lichat,.block-header__liprofile,.block-header__order{
display:none ;

  }  

  .header-button-three, .header-button-four, .header-button-five,.header-button-two{
    display:none ;
  }
  .logo__img{
    width: 70px;
    height: 40px;

  }
    
  .main{
    height: 55%;
    
  }

  .main-content{
  
    flex-direction: column;
     }
.block-header-section-two{
  width: 90%;
}

.block-header__lirepair{
  padding-right: 25px;
  padding-left  : 50%;
  border-left: 3px solid #EAEAEA;
}
  
     
}

